# Django
DJANGO_SETTINGS_MODULE=config.settings_dev

# PostgreSQL
POSTGRES_DB=groot_db
POSTGRES_USER=rachit
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text:latest
EMBEDDING_DIMENSIONS=768
EMBEDDING_BATCH_SIZE=32
OLLAMA_BASE_URL=http://localhost:11434
